/* App.css */

/* Style pour le conteneur principal de l'application */
body {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #111;
  color: #fff;
}

.App {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Style pour le titre principal */
h1 {
  font-size: 3rem;
  margin-bottom: 40px;
  text-align: center;
  color: #fff;
}

/* Style pour le formulaire d'ajout de engin */
/* Formulaire EnginAdd */
.engin-add {
  display: flex;
  flex-direction: column;
  max-width: 400px; /* ajustez la largeur maximale du formulaire selon vos besoins */
  margin: 0 auto;
}

.engin-add input[type="text"],
.engin-add select {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc; /* couleur de la bordure */
  border-radius: 5px;
  font-size: 16px;
}

.engin-add input[type="text"]::placeholder {
  color: #999; /* couleur du texte de l'indicateur de saisie */
}

.engin-add select {
  background-color: #fff; /* couleur de fond */
  color: #333; /* couleur du texte */
}

.engin-add button {
  padding: 10px 20px;
  background-color: #007bff; /* couleur de fond du bouton */
  color: #fff; /* couleur du texte du bouton */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.engin-add button:hover {
  background-color: #0056b3; /* couleur de fond du bouton lorsqu'il est survolé */
}


/* Style pour la section de filtrage */
.engin-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.engin-filter input[type='text'],
.engin-filter select {
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  outline: none;
}

/* Style pour la liste de engins */
.engin-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

/* Style pour la carte de engin individuel */
.engin-card {
  background-color: #333;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.engin-card:hover {
  transform: scale(1.05);
}

.engin-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.engin-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.engin-card p {
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 8px;
}

/* Style pour la description du engin */
.engin-description {
  padding: 20px;
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: #fff;
  margin: 20px auto;
  max-width: 800px;
}

.engin-description h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.engin-description p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 10px;
}

.engin-description .trailer {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* Aspect ratio 16:9 */
}

.engin-description iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}


/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5154d5; /* couleur de fond de la barre de navigation */
  padding: 22px 30px;
  color: #fff; /* couleur du texte */
  border-radius: 100px;
}

/* Logo */
.logo {
  width: 50px; /* ajustez la taille du logo selon vos besoins */
  height: auto;
}

/* Liens de navigation */
.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block;
  margin-left: 20px; /* ajustez l'espacement entre les éléments de la barre de navigation */
}

.nav-links li a {
  text-decoration: none;
  color: #fff; /* couleur du texte des liens */
}

/* Dropdown */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333; /* couleur de fond du menu déroulant */
  min-width: 100px; /* ajustez la largeur du menu déroulant selon vos besoins */
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  color: #fff; /* couleur du texte des éléments du menu déroulant */
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #555; /* couleur de fond des éléments du menu déroulant lorsqu'ils sont survolés */
}
